<footer class="footer">
    <nav>
    
    <ul>
    <li><%= link_to "モノコードとは",   about_path %></li>
    <li><%= link_to "スタートガイド", '#' %></li>
    <li><%= link_to "利用規約", terms_path %></li>
    <li><%= link_to "個人情報保護法", privacy_path %></li>
    <li><%= link_to "運営会社", '#' %></li>
    </ul>

    <ul>
    <li><%= link_to "ヘルプ",   help_path %></li>
    <li><%= link_to "ご意見", '#' %></li>
    <li><%= link_to "法人・プレスお問い合わせ", '#' %></li>
    <li><%= link_to "リクエストコミュニティ", '#' %></li>
    </ul>

    <ul>
    <li><%= link_to "Androidアプリ",   '#' %></li>
    <li><%= link_to "iOSアプリ", '#' %></li>
    </ul>

    </nav>
</footer>